// GENERAL PROJECT STYLES

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 36px;
    @media (max-width: 1024px) {
        padding: 0 28px;
    }
    @media (max-width: 1024px) {
        padding: 0 12px;
    }
    
}


ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}



// @media (min-width: 1920px) {
//     body {
//         line-height: 1;
//         font-size: 0.3633vw;
//         overflow-x: hidden;
//     }
    
// }

// @media (max-width: 1920px) {
//     body {
//         line-height: 1;
//         font-size: 0.52vw;
//         overflow-x: hidden;
//     }
    
// }

