.call {
    width: 360px;
    background-color: #fff;
    padding: 32px;
    transition: all .4s ease;
    @media (max-width: 540px) {
        padding: 44px 12px 12px 16px;
        border-radius: 20px 20px 0 0;
    }
}
.call__text {
    position: relative;
    .call__cross-2 {
        display: none;
    }
    .call__cross {
        right: 0;
        top: 0;
        position: absolute;
        cursor: pointer;
    }
    border-bottom: 1px solid #EBEBEB;
    @media (max-width: 540px) {
        text-align: center;
        border: none;
        .call__cross-1 {
            display: none;
        }
        .call__cross-2 {
            padding: 15px 130px 30px 130px;
            display: block;
            top: -43px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
.call__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #070A0B;
    margin-bottom: 12px;
}
.call__subtitle {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #243037;
    margin-bottom: 32px;
}
.call__info {
    height: calc(100% - 106px);
}
.call__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input, textarea {
        background-color: #F8F8F8;
        padding: 20px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #243037;
        width: 100%;
        border: 1px solid #EBEBEB;
        border-radius: 8px;
        margin-bottom: 16px;
        &:first-child {
            margin-top: 32px;
            @media (max-width: 540px) {
                margin-top: 12px;
            }
        }
        &:focus {
            border: 1px solid #6784FF;
        }
    }

    input[type="submit"] {
        margin-bottom: 0;
        font-weight: 600;
        color: #070A0B;
        border: none;
        background-color: #FABF2B;
        transition: all .2s ease;
        &:hover {
            color: #070A0B;
            background-color: #FEC63A;
        }
        &:active {
            color: #070A0B;
            background-color: #EFB421;
        }
        &:disabled {
            background-color: rgb(206, 206, 206);
        }
        @media (max-width: 540px) {
            margin-top: 16px;
        }
    }
}
.call__block {
    @media (max-width: 540px) {
        overflow-y: auto;
        border-bottom: 1px solid #EBEBEB;
    }

}
.call__name {
}
.call__email {
}
.call__website {
}
.call__telegram {
}
.call__about {
}
.btn {
}
.call__btn {
}


.bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color .2s ease;
    background-color: rgba($color: #000000, $alpha: 0.0);
    visibility: hidden;
    cursor: pointer;
}
.bg.active {
    visibility: visible;
    background-color: rgba($color: #000000, $alpha: 0.2);

}










