.contact {
    padding: 80px 0;
    @media (max-width: 1024px) {
        padding: 80px 0;
    }
    @media (max-width: 540px) {
        padding: 64px 0 64px 0;
    }
}
.contact__content {
    padding: 32px 32px;
    display: flex;
    border-radius: 8px;
    background-color: #FCFBF3;
    max-width: 952px;
    margin: 0 auto;
    @media (max-width: 1024px) {
        max-width: 715px;
    }
    @media (max-width: 540px) {
        flex-direction: column;
        padding: 32px 16px;
    }
}
.contact__img {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-right: 56px;
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        // max-width: 370px;
    }
    @media (max-width: 1024px) {
        padding-right: 24px;
    }
    @media (max-width: 540px) {
        display: none;
    }
}
.contact__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;

    @media (max-width: 1024px) {
        padding-left: 24px;
        min-width: 300px;
    }
    @media (max-width: 540px) {
        // align-items: center;
        padding-left: 0px;
        width: 100%;
    }
}
.contact__label {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #243037;
    margin-bottom: 16px;
    @media (max-width: 540px) {
        margin-bottom: 12px;
    }
}
.contact__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    color: #070A0B;
    margin-bottom: 48px;
    @media (max-width: 1024px) {
        font-size: 30px;
    }
    @media (max-width: 540px) {
        font-size: 32px;
        margin-bottom: 32px;
        br {
            display: none;
        }
    }
}
.contact__btn {
    padding: 20px 40px;
    background-color: #FABF2B;
    border-radius: 8px;
    // width: 100%;
    text-align: center;
    @media (max-width: 540px) {
        width: 100%;
        text-align: center;
        margin-right: 0px;
        margin-bottom: 8px;
    }
    &:hover {
        color: #070A0B;
        background-color: #FEC63A;
    }
    &:active {
        color: #070A0B;
        background-color: #EFB421;
    }
}
.btn {
}