.content {
}
.content__content {
    padding: 48px 0;
    border-top: 1px solid #D3D6D7;
    border-bottom: 1px solid #D3D6D7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img {
        max-width: 64px;
        margin-bottom: 24px;
    }
    @media (max-width: 540px) {
        padding: 32px 0;
        img {
            max-width: 42px;
        }
    }
}
.content__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    max-width: 850px;
    @media (max-width: 540px) {
        font-size: 16px;
        line-height: 28px;
    }
}