.intro {
}
.intro__content {
    padding: 32px;
    background-color: #FCFBF3;
    display: flex;
    align-items: center;
    border-radius: 12px;
    @media (max-width: 1024px) {
        flex-direction: column;
        padding: 0px 24px 48px 24px;
    }
    @media (max-width: 540px) {
        flex-direction: column;
        padding: 0px 12px 32px 12px;
    }

}
.intro__info {
    width: 50%;
    padding-right: 32px;
    @media (max-width: 1024px) {
        width: 100%;
        order: 2;
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.intro__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 72px;
    color: #070A0B;
    max-width: 510px;
    margin-bottom: 32px;
    @media (max-width: 1280px) {
        font-size: 56px;
        line-height: 64px;
    }
    @media (max-width: 1024px) {
        font-size: 40px;
        line-height: 48px;
        max-width: none;
        margin-bottom: 24px;
        text-align: center;
    }
    @media (max-width: 540px) {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 16px;
    }
}
.intro__subtitle {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #243037;
    max-width: 510px;
    margin-bottom: 64px;
    @media (max-width: 1024px) {
        max-width: none;
        text-align: center;
        margin-bottom: 48px;
    }
    @media (max-width: 540px) {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 32px;
    }
}
.intro__group {
    display: flex;
    @media (max-width: 540px) {
        width: 100%;
        flex-direction: column;
    }
    
}
.intro__btn-yellow {
    background-color: #FABF2B;
    padding: 20px 40px;
    margin-right: 8px;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all .2s ease;
    @media (max-width: 540px) {
        width: 100%;
        text-align: center;
        margin-right: 0px;
        margin-bottom: 8px;
    }
    &:hover {
        color: #070A0B;
        background-color: #FEC63A;
    }
    &:active {
        color: #070A0B;
        background-color: #EFB421;
    }
}
.btn {
}
.intro__btn-transparent {
    padding: 20px 40px;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all .2s ease;
    @media (max-width: 540px) {
        width: 100%;
        text-align: center;
    }
    &:hover {
        color: #070A0B;
        border: 1px solid #D3D6D7;
    }

}
.intro__img {
    width: 50%;
    img {
        // max-width: 625px;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    @media (max-width: 1024px) {
        margin-bottom: 48px;
        width: 100%;
        order: 1;
        display: flex;
        justify-content: center;
        max-width: 535px;
        
    }
    @media (max-width: 1024px) {
        margin-bottom: 32px;

    }
}